[Unit]
Description=ProtonVPN-CLI reconnect after sleep
Requires=network-online.target
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
Type=forking
Environment=PVPN_WAIT=300
Environment=PVPN_DEBUG=1
Environment=SUDO_USER=lord
ExecStart=/usr/bin/protonvpn-cli c -f

[Install]
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target

